<h1>Hello!  Welcome to my first Rails app called "Pixtr"</h1>
<p><h2>This app will use images to create galleries, and will also use a trendy name that is missing some vowels</h2>
	Current galleries can be found on this <a href="http://localhost:3000/gallery/index">page</a>, Or you can create your own
